[Unit]
Description = Adapter to fill the influx database with data from STIDE and BoSC
ConditionPathExists = /usr/bin/app-ids/src/
Requires = mosquitto.service stide_syscall_formatter.service syscall_tracer.service stide.service
After = mosquitto.service stide.service syscall_tracer.service
Before = stide_syscall_formatter.service syscall_tracer.service BoSC.py
 
[Service]
Type=simple
WorkingDirectory=/usr/bin/app-ids/src
ExecStart =/usr/bin/python3 /usr/bin/app-ids/src/influx_adapter.py

[Install]
WantedBy = multi-user.target
